# Import Libraries

In [0]:
#import libraries
from fastai.tabular import *
from fastai import *

In [0]:
#Upload data and then read csv
data = pd.read_csv('UCI_Credit_Card.csv')

In [0]:
#Create data block
dep_var = 'default.payment.next.month'
#categorical variables
cat_names = ['SEX', 'EDUCATION', 'MARRIAGE','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6']
#continuous variables
cont_names = ['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']
#processes
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(data.iloc[21000:30000].copy(), cat_names=cat_names, cont_names=cont_names)

In [0]:
data1 = (TabularList.from_df(data, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(21000,30000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [41]:
data1.show_batch(rows=10)

In [0]:
learn = tabular_learner(data1, layers=[200,200], metrics=accuracy)

In [43]:
learn.fit(10, 1e-2)